/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}


body {
    background: #282828;
    border: 3px solid #FFF;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;

    width: 200px;
}

:focus {
    outline: 0;
}
p {
    color: #fff!important;
}

.success {
    color: green!important;
    text-align: center;
}
.wrong {
    color: red!important;
    text-align: center;
}
#myusername {
    background: #282828;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 12px;
    height: 24px;
}


input[type=submit], button {
    background: #7EC060;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;

    float: right;
    height: 24px;
}
input[type=submit]:hover, button:hover {
    background-color: #B4DFA1;
}

.username-form {
    overflow: hidden;
    margin: 4px;
    padding: 0;
}

input.username {
    background: #eee;
    border: none;
    line-height: 16px;
    float: left;
    padding: 4px;
    width: 126px; height: 16px;
}

#userList ul {
    list-style: none;
    margin: 0; padding: 0;
}

#userList li {
    background-color: #424242;
    border-top: 1px solid ;
    color: #eee;
    line-height: 24px;
    padding: 4px 12px;
    height: 48px;
}
#userList li:hover {
    background-color: #424242;
}

#userList p {
    float: left;
    margin: 0;
    width: 130px;
}

#userList .score {
    float: left;
    margin: 0;
    width: 130px;
}

#askQuestion {
    overflow: hidden;
}

#askQuestion input[type=submit] {
    margin-right: 4px;
    margin-bottom: 4px;
}

.question, .answer {
    background-color: #eee;
    border: none;
    margin-top: 4px;
    margin-left: 4px;
    padding: 4px;
    width: 184px;
    height: 80px;
}

.answer {
    margin-bottom: 4px;
}

#newQuestion {
    min-height: 167px;
}